@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: linear-gradient(to bottom, brown, rgba(0, 0, 0, 0.789));
}

header {
  min-width: 150px;
  background-image: url("/modulo-2/desafios/d02/imagens/home.projeto-casa-do-dragao.jpeg");
  background-size: 1080px 540px;
  background-repeat: no-repeat;
  max-width: 1080px;
  height: 540px;
  padding: 0px;
  margin: 0px;
}

header img {
  width: 100%;
  display: block;
}

main {
  background-color: white;
  margin: auto;
  min-width: 300px;
  max-width: 1000px;
}

main li {
  font-size: 2em;
}
